body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #CFE7DF;
  border: 2px solid #74baa3;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.button:hover {
  background-color: #add6c8;
}